html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #2a9d8f;
}

#displayWeather {
    display: none;
    padding: 6px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #264653;
    box-shadow:2px 2px 10px black;
    text-align: center;
    width: 350px;
    margin: auto;

}

#weatherInfo {
    border: solid 2px black;
}

#header {
    margin: 0;
    background-color: #264653;
    color: #36c7b6;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#searchDiv {
    padding: 30px;
    display: flex;
    justify-content: center;
}

#searchBar {
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    background-color: #3cdbc9;
    box-shadow: 1px 1px 10px rgb(97, 96, 96);
    margin: 2px;
    font-size: larger;
    color: #363636;
    
}

#searchBtn {
    border: none;
    outline: none;

    width: 70px;
    margin: 2px;
    border-radius: 5px;
    background-color: #363636;
    color: whitesmoke;
}

#searchBtn:hover {
    box-shadow: 1px 1px 15px rgb(97, 96, 96);
}

#searchBtn:active {
    color: rgb(201, 201, 201);
    box-shadow: 1px 1px 15px rgb(97, 96, 96);
}